/*footer*/
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/*!
 * CSS de Felmat 
 */

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1f4e79;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

.bg-primary-feltmat {
  background-color: #1f4e79 !important;
}

.btn-primary-felmat {
  background-color: #5b9bd5;
  border-color: #5b9bd5;
}
.btn-primary-felmat:active,
.btn-primary_felmat:focus,
.btn-primary-felmat:hover {
  color: #fff;
  background-color: #5b9bd5 !important;
}
.btn-primary-felmat:active,
.btn-primary-felmat:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(31, 78, 121, 0.4) !important;
  box-shadow: 0 0 0 0.2rem rgba(31, 78, 121, 0.4) !important;
}
.btn-felmat {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
.btn-xl-felmat {
  padding: 1rem 2rem;
}

/******************CSS del slider*********************/
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* Bootstrap Lightbox using Modal */

#profile-grid {
  overflow: auto;
  white-space: normal;
}
#profile-grid .profile {
  padding-bottom: 40px;
}
#profile-grid .panel {
  padding: 0;
}
#profile-grid .panel-body {
  padding: 15px;
}
#profile-grid .profile-name {
  font-weight: bold;
}
#profile-grid .thumbnail {
  margin-bottom: 6px;
}
#profile-grid .panel-thumbnail {
  overflow: hidden;
}
#profile-grid .img-rounded {
  border-radius: 4px 4px 0 0;
}

/******************CSS del slider*********************/

/******************CSS del page top *********************/

/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #e86256;
  text-decoration: none;
}

/* -------------------------------- 

Back to Top - by CodyHouse.co

-------------------------------- */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat
    center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s,
    background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 15px;
    bottom: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 10px;
    bottom: 100px;
  }
}
/******************CSS del page top *********************/

/***************** youtube css *****************************/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
/***************** youtube css *****************************/

/***************** 28/1/2019 css *****************************/
.col-md-12 .form-submit {

    padding-left: 60px;

}
.form-container {

    padding-bottom: 45px;

}
.form-group-1 textarea {

    width: 100%;
    border: 2px solid #ebebeb;
    margin-bottom: 20px;

}
.social_footer_ul{padding-left:0;}
.carousel-caption h3{font-size:45px; margin-bottom:10px; color:#fff;}
.carousel-caption {
bottom:auto;
    top: 29%;
}
.new-header img {
    max-width: 100%;
	height: 110px;
}
.carousel-caption {
    max-width: 500px;
    margin: auto;
    background: rgba(31, 78, 121, 0.7);
    color: #1f4e79;
    padding: 50px 30px;
}

.carousel-caption p{color:#fff;}
.new-header {

    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 10px 0;
    background-size: 100% 100%;

}
.col-md-4.logo {
    text-align: center;
}
.col-md-4.home-btn a {

    background: #1f4e79;
    color: #fff;
    padding: 7px 16px;
    display: inline-block;
    margin-top: 36px;
    font-size: 16px;

}
.col-md-4.home-btn {
    text-align: right;
}
.upload {
    margin:53px auto;
  position: relative;
  max-width: 400px;
  min-height: 445px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 45px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  background: #fff;
  -webkit-animation: fadeup .5s .5s ease both;
          animation: fadeup .5s .5s ease both;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}
.upload .upload-files header {
  background: #1f4e79;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.upload .upload-files header p {
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding: 50px 0;
}
.upload .upload-files header p i {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  font-size: 30px;
  -webkit-animation: fadeup .5s 1s ease both;
          animation: fadeup .5s 1s ease both;
}
.upload .upload-files header p .up {
  font-weight: bold;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  display: inline-block;
  opacity: 0;
  -webkit-animation: faderight .5s 1.5s ease both;
          animation: faderight .5s 1.5s ease both;
}
.upload .upload-files header p .load {
  display: inline-block;
  font-weight: 100;
  margin-left: -8px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
  -webkit-animation: faderight 1s 1.5s ease both;
          animation: faderight 1s 1.5s ease both;
}
.upload .upload-files .body {
  text-align: center;
  padding: 50px 0;
  padding-bottom: 30px;
}
.upload .upload-files .body.hidden {
  display: none;
}
.upload .upload-files .body input {

    visibility: hidden;
    margin-bottom: 0;

}
.upload .upload-files .body i {
  font-size: 65px;
  color: lightgray;
}
.upload .upload-files .body p {
  font-size: 14px;
  padding-top: 15px;
  line-height: 1.4;
  color:#000;
}
.upload .upload-files .body p b,
.upload .upload-files .body p a {
  color: #1f4e79;
}
.upload .upload-files .body.active {
  border: dashed 2px #1f4e79;
}
.upload .upload-files .body.active i {
  box-shadow: 0 0 0 -3px #fff, 0 0 0 lightgray, 0 0 0 -3px #fff, 0 0 0 lightgray;
  -webkit-animation: file .5s ease both;
          animation: file .5s ease both;
}
@-webkit-keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
  }
  75%,
          100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
@keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
  }
  75%,
          100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
.upload .upload-files .body.active .pointer-none {
  pointer-events: none;
}
.upload .upload-files footer {

    width: 100%;
    margin: 0 auto;
    height: 0;
    background: none;
    min-height: 100%;

}
.upload .upload-files footer .divider {
  margin: 0 auto;
  width: 0;
  border-top: solid 4px #1f4e79;
  text-align: center;
  overflow: hidden;
  transition: width .5s ease;
}
.upload .upload-files footer .divider span {
  display: inline-block;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  font-size: 12px;
  padding-top: 8px;
}
.upload .upload-files footer.hasFiles {
  height: auto;
}
.upload .upload-files footer.hasFiles .divider {
  width: 100%;
}
.upload .upload-files footer.hasFiles .divider span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: -webkit-transform .5s .5s ease;
  transition: transform .5s .5s ease;
  transition: transform .5s .5s ease, -webkit-transform .5s .5s ease;
}
.upload .upload-files footer .list-files {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}
.upload .upload-files footer .list-files::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar-thumb {
  background-color: rgba(77, 182, 172, 0.5);
}
.upload .upload-files footer .list-files .file {
  width: 300px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  -webkit-animation: fade .35s ease both;
          animation: fade .35s ease both;
}
.upload .upload-files footer .list-files .file .name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
  text-align: left;
}
.upload .upload-files footer .list-files .file .progress {
  width: 175px;
  height: 5px;
  border: solid 1px lightgray;
  border-radius: 2px;
  background:linear-gradient(to left, rgba(255, 212, 203, 0.2), rgba(240, 95, 64, 0.8)) no-repeat;
  background-size: 100% 100%;
}
.upload .upload-files footer .list-files .file .progress.active {
  -webkit-animation: progress 30s linear;
          animation: progress 30s linear;
}
@-webkit-keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
@keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
.upload .upload-files footer .list-files .file .done {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #f05f40;
  border-radius: 50%;
  margin-left: -10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  position: relative;
}
.upload .upload-files footer .list-files .file .done:before {
  content: "View";
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 24px;
  opacity: 0;
}
.upload .upload-files footer .list-files .file .done:hover:before {
  transition: all .25s ease;
  top: -30px;
  opacity: 1;
}
.upload .upload-files footer .list-files .file .done.anim {
  -webkit-animation: done1 .5s ease forwards;
          animation: done1 .5s ease forwards;
}
.upload .upload-files footer .list-files .file .done.anim #path {
  -webkit-animation: done2 2.5s .5s ease forwards;
          animation: done2 2.5s .5s ease forwards;
}
.upload .upload-files footer .list-files .file .done #path {
  stroke-dashoffset: 7387.59423828125;
  stroke-dasharray: 7387.59423828125 7387.59423828125;
  stroke: #fff;
  fill: transparent;
  stroke-width: 50px;
}
@-webkit-keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes done1 {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
}
@keyframes done1 {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
}
.upload .upload-files footer .importar {
  outline: none;
  position: absolute;
  left: 0;
  /*right: 0;*/
  bottom: 20px;
  margin: auto;
  border: solid 1px #f05f40;
  color: #f05f40;
  background: transparent;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
  font-family: Roboto;
  line-height: 1;
  cursor: pointer;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  margin-left: calc(50% - 40px);
}
.upload .upload-files footer .importar.active {
  transition: opacity .5s 1.5s ease, background, -webkit-transform .5s 1.5s ease;
  transition: transform .5s 1.5s ease, opacity .5s 1.5s ease, background;
  transition: transform .5s 1.5s ease, opacity .5s 1.5s ease, background, -webkit-transform .5s 1.5s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.upload .upload-files footer .importar:hover {
  background: #f05f40;
  color: #fff;
}
@-webkit-keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes faderight {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .upload {
    width: 100%;
    height: 100%;
  }
}
.dg-container {

    width: 100%;
    height: 450px;
    position: relative;
    padding: 30px 0;

}
.dg-wrapper{
	max-width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	max-width: 482px;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;

	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 0px 0px 0px 1px;
	width:100%;
	height: 316px;
    object-fit: cover;

  
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url(../img/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}
#galeria {

    overflow-x: hidden;
    margin-left: 15px;
    margin-right: 15px;

}

@media (max-width:1199px) {
    
    .carousel-caption {
    top: 22%;}
    
}
@media (max-width:991px) {
    
    .carousel-caption {
    top: 16%;}
    .appointment-form {

    padding: 50px 0px 0px 0px!important;

}
.col-md-12 .form-submit {

    padding-left: 0;

}
.footer iframe {

    margin-top: 30px;

}
}
@media (max-width:800px) {
.carousel-caption{ padding:30px;}

}
@media (max-width:767px) {
.new-header img {
    margin-left: -30px;

}
.col-md-12 .form-submit {

    padding-left: 0;
    text-align: center;

}
.col-md-12 .form-submit input {

    display: inline-block;

}
.m-dis{display:none;}
.carousel-caption p {

    color: #fff;
    line-height: normal;
    font-size: 12px;

}
.carousel-caption h3 {

    font-size: 32px;
    margin-bottom: 10px;
    color: #fff;

}
.new-header img {

    max-width: 100%;
    height: 70px;

}
.col-md-4.home-btn a {

    background: #1f4e79;
    color: #fff;
    padding: 4px 12px;
    display: inline-block;
    margin-top: 17px;
    font-size: 13px;

}
.col-md-4.logo {

    text-align: left;

}
.appointment-form {

    padding: 50px 0px 0px 0px !important;

}
.carousel-caption {

    padding: 15px 20px;

}
}
@media (max-width:480px){
    .carousel-caption h3 {

    font-size: 28px;
    margin-bottom: 5px;
    color: #fff;

}
.upload{ height:auto;}
    
}

/***************** 28/1/2019 css *****************************/
